<html>
<head>
<title>Dextra</title>
<link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="../css/style.css" rel="stylesheet" type="text/css">
</head>
<body style="padding-top:75px;">

<nav class="navbar navbar-default navbar-fixed-top navbar-new">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="http://www.dextra.xyz"><img id="logo" src="../img/logoSmall.png"></a>
          </div>
        </div><!--/.container-fluid -->
</nav>

<div class="container">

<div>
	<h2 class="header-text-1">Collation</h2>
	<p>Imagine a platform where you can share anything creative that you do. It can be a painting that you made, a
cartoon that you drew, a doodle that you sketched, a tune that you composed, a poem you wrote when you 
were 8, or something you made out of paper which looks like a duck. It can also be a song you made with 
your band, a video you made in college, or an editorial you wrote for your fest newsletter. It can be an app 
you made, or just an idea for one that you really want to be made.</p>
<p>The focus here is not on how good the thing is that you are sharing. The focus is on sharing what you think is
creative, and want to show to the world (or whomever you want to share it with).</p>
<p>But this sounds like quite a random heap of silly not-so-creative nonsense on the web. That's where the
brilliance of Dextra comes in. (Dextra is Latin for right-hand side, signifying the right side of the brain. As you 
know, according to pop culture [and not science], right side of the brain houses creativity.)</p>
<p>Every user is required to associate one or more dexes (singular: dex) with their profile. A Dex is nothing but 
what you think you are good at. Say, your dex can be keyboard and web design. The creativity you share 
doesn't necessarily need to be associated with your dex. But if it is, it gets attached to the dex.</p>
<p>We are now talking (read: dreaming) about a billion people sharing their creativity. In turn, we are talking
about millions of painters, designers, photographers, videographers, actors, directors, cinematographers, 
guitarists, drummers, bassists, pianists, vocalists, dancers, poets, lyricists, sound editors, synchronized 
swimmers, football freestylers, thinkers, visionaries, software developers, budding entrepreneurs and 
corporations looking for such people. People with resources but no skills, people with skills but no resources, 
people with no resources or skills but ideas. All on one platform. Sharing.</p>
<p>But primarily, we are talking about a range of each of these talents. Not people who are good enough to have 
Facebook pages, established YouTube channels, trending Dribbble profiles or famous SoundCloud channels. 
I'm talking about people who don't necessarily follow something professionally. But have a hobby. They have 
a dex.</p>
<p>The reason why everyone would want to share here as opposed to not sharing stuff on SoundCloud (for
musicians), or Dribbble/Behance (for designers) is because they don't see their friends sharing their amateur 
creativity. The fact that it is cross platform makes it a place for all your friends, not just designer friends if 
you're a designer, or musician friends if you're a musician.</p>
<p>YouTube is limited to videos. And is quite random.</p>
<p>In Facebook, all creativity shared gets lost in the random pool of posts about the creativity of other people, 
and not your own. In Dextra, people share their own creativity. Instead of sharing the colour of your skin, you 
share the colour of your mind. Facebook is random society, Dextra is organized talent. The focus is on 
creation, not consumption. That's where the roots of creativity lie anyway, don't they?</p>
<p>Say, we grade all the guitarists in the world on a scale of 1 to 10. Clapton, Slash, Petrucci and the likes are
10s. People in recognized famous bands are 9s. Guitarists in local bands or as solo performers with \
established YouTube profiles are 8s. Those who have YouTube or SoundCloud channels but aren't so 
recognized can be 7s. What's there in the world for the 5s and 6s? These form the majority of talent who are 
willing to share but are lost somewhere at sea.</p>
<p>Now form a curve of all guitarists against their rating. The graph rises exponentially as we move towards the 
lower end. This means that the majority will always be of amateurs. Those who are lost in today's sea of 
talent and will go without being recognized. Without their talent ever reaching the library of humanity's 
creativity which the future may access.</p>
<p>We let this happen.</p>

<p>This was part one the idea: Collation. It isn't half as beautiful as what comes next.</p>

</div>


<div>
<h2 class="header-text-1">Collaboration</h2>
<p>Now the fun begins. We have a platform where a range of creative people are available, for a range of 
creativity. Now is the time when we use the world's talent as a collective whole.</p>
<p>Imagine you wake up in the morning and have an idea for a video. What do you do? You either write it in 
your notes thinking that you would implement it whenever you get the time and the talent to do it. Or you 
would ask your friend experienced in video editing. Or you would just forget about it altogether.</p>
<p>Or you can do it right then. In the morning itself. It is not necessary that you are a funded movie director who 
hasthe money to pay for proper actors. But you are not in college any more when such a community is always 
available. You just go online and search for your whole team. You analyse the work associated with each 
person's dex. And then you choose.</p>
<p>The exact profile of the person/group you're looking for isjust a search away. Need designers, videographers,
actors, a director, a cinematographer? Just search for them. Need music for your video? Get a good college 
band who're ready to contribute something for free in order to be a part of something big. And bring that 
something to the world. Just by a few clicks. And all for free. Unless you have a bucket load of cash and are 
interested in hiring professional people. Who are available too by the way, their fee structures and payment 
methods all inline. It's LinkedIn except that instead of highlighting projects on your resume, you mention only 
your hobbies. Which may as well be your sole source of income.</p>
<p>You don't need to go with the best, as you might not be able to afford them. But the next to best is literally
just one step before the best, and all that s/he needs to move the next level of goodness is just getting some 
hands dirty which you would help her/him do. It's a win-win.</p>
<p>Everything is wrapped as projects. You get a video idea, you find a director. This begins a project. It's quite
like starting a company. Initially you have some equity. As you get more and more people, it gets diluted, 
unless you're paying for them. The division of shares can be followed using some directives which we provide, 
or mutually decided by the project team. Or they just choose a leader.</p>
<p>All the people working on a project are tagged to it, so it shows up on their profile too, and adds to their port-
folio. So even if you got to be a small part of a large project, it still shows up on your profile along with your 
role/dex. If you are able to sell the project, the revenue generated gets divided as per the shares of the 
project. </p>
<p>
So many seniors we know, who used to be our idols in college as musicians have just stopped music. All they 
have in their lives is work which they don't necessarily like. After college there is just nothing to give that vast 
network of talent to make you want to pursue your own talent.</p>
<p>
Online jamming is what we are looking at. I found some websites which do that. There's even a chrome app. 
But there is no network which pulls people online such that they are readily available. I couldn't connect with 
anyone when I tried them. But here, everyone finds other reasons to be online. It so may happen that 
someone would request you to jam with them while you're looking at some art project by your friend. And 
once people start liking to jam with certain people, bands are born.</p>
<p>
I have a video idea about how God is a scientist who is testing various universes in his laboratory, and we are 
but one of such test universes. How would I go about making this video? I would probably say, that's a cool 
idea. Maybe I'll do it when I get time. </p>
<p>
But through Dextra, I can just search for people who make videos about cosmology. Or even just a team of 
people who can work on individual aspects of the idea. I just need to be able to direct them into doing exactly 
what I have in mind. Once it gets completed, it is available to the world. It may be used in the introductory 
credits of a sci-fi movie or it can be used by a band which makes songs about the end of the universe. And all 
the credit is divided among the people in the group.</p>
<p>These are some of the features of the service:</p>
<ul>
<li>Collate:</li>
	<ul>
		<li>Sharing creativity with your friends, or the world.</li>
		<li>Creative Resume/Port Folio</li>
		<li>Know people's hobbies and creative interests</li>
		<li>Place where non-professional artists can also share interests with everyone</li>
		<li>Share all kinds of ideas (start-ups, phone applications, even stoner thoughts)</li>
	</ul>
<li>Collaborate:</li>
	<ul>
		<li>Make Videos</li>
		<ul>
			<li>Implementing a video idea</li>
			<li>Advertising</li>
			<li>Song Videos</li>
			<li>Making short (?) movies</li>
		</ul>
		<li>Make Music</li>
		<ul>
			<li>Find band members</li>
			<li>Find people to jam with</li>
			<li>Jam online</li>
			<li>Make songs</li>
			<li>Find videos for your songs</li>
			<li>Find song writers</li>
		</ul>
		<li>Make Art</li>
		<ul>
			<li>Convert ideas to art</li>
			<li>Work on design projects together, in real time(See invisionapp.com)</li>
			<li>Have photos edited online</li>
		</ul>
		<li>Platform where art can be recognized (patented?) and sold</li>
	</ul>
<li>Consume: Platform to see what's happening, and get inspired</li>
</ul>

</div>

<div style="text-align:center;margin-top:30px;margin-bottom:30px;">
<p>They say, one should be able to express the idea in one line. I don't believe in that, but I will make an attempt.</p>
<p><i>We merge creativity with society. We build cultures.</i></p>

</div>


</div>
<div class="footer">
	<p>Dextra - All rights reserved.</p>
</div>
 


<script src="../js/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="../js/bootstrap.min.js" type="text/javascript"></script>
<script>
/* $(function() {
    $("#logo")
        .mouseover(function() { 
            $(this).attr("src", "../img/logoSmallFull.png");
        })
        .mouseout(function() {
            $(this).attr("src", "../img/logoSmall.png");
        });
}); */
</script>
</body>
</html>
